[Unit]
Description=Power Monitor
After=network.target

[Service]
ExecStart=/home/pi/powermonitor.py
Type=simple
Restart=always

[Install]
WantedBy=default.target
